:root {
  --primary-color: #aca3d3; /* Primary Accent */
  --secondary-color: #9e9cc3; /* Secondary Accent */
  --highlight-color: #cd584f; /* Highlight */
  --background-color: #ebebea; /* Background */
  --light-font-color: #ffffff; /* Light Font */
  --dark-font-color: #2b2b2b; /* Dark Font */
  --muted-background-color: #f5f5f5; /* Off-white Background for Inputs */
  --accent-contrast-color: #ccc4e7; /* Accent Contrast */
  --highlight-contrast-color: #6c7c2c; /* Highlight Contrast */
  --tertiary-background-color: #746c76; /* Tertiary Background */
  --border-radius: 8px;
  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  --light-green: #ccd584; /* Light Green from your color schema */
  --light-green-bg: #eff2d8; /* Light Green Background */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at bottom right,
    var(--light-green-bg) 25%,
    var(--background-color) 75%
  );
  z-index: -1;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 1;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
  margin: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  margin-bottom: 20px;
  position: relative;
}

.input label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: var(--dark-font-color);
}

.input input {
  width: 94%;
  padding: 10px;
  border-radius: var(--border-radius);
  border: 1px solid var(--accent-contrast-color);
  background-color: var(--muted-background-color);
  color: var(--dark-font-color);
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.input input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 4px var(--primary-color);
}

.input input.error {
  border-color: var(--highlight-color);
  background-color: #fff;
}

.inputHelperText {
  font-size: 0.75rem;
  color: var(--highlight-color);
  margin-top: 4px;
  display: block;
}

.inputWithIcon {
  position: relative;
  display: flex;
  align-items: center;
}

.iconButton {
  position: absolute;
  left: auto;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.successIcon {
  position: absolute;
  right: 50px;
  color: green;
}

.errorIcon {
  position: absolute;
  right: 50px;
  color: red;
}

.button {
  align-self: flex-end;
  background-color: #aca3d3;
  color: var(--light-font-color);
  padding: 10px 15px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--secondary-color);
}

.button:disabled {
  background-color: var(--muted-background-color);
  color: #626262;
  cursor: not-allowed;
}

/* Responsive Design */
@media (max-width: 480px) {
  .container {
    max-width: 95%;
    margin: 20px auto;
    padding: 10px;
  }

  .title {
    font-size: 1.6rem;
  }

  .input input {
    padding: 8px;
  }

  .button {
    font-size: 0.85rem;
    padding: 6px 10px;
  }
}
