:root {
  --primary-color: #aca3d3;
  --secondary-color: #9e9cc3;
  --hover-color: #f5f5f8;
  --background-color: #ebebea;
  --light-font-color: #ffffff;
  --dark-font-color: #2b2b2b;
  --muted-background-color: #f5f5f5;
  --border-radius: 8px;
  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 25px;
  background-color: var(--muted-background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.filters {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 7px;
}

.filterControl {
  flex: 1;
  max-width: 150px;
}

.taskList {
  list-style: none;
  padding: 0;
}

.taskItem {
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-bottom: 10px;
  padding: 10px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.taskItem:hover {
  transform: translateY(-2px);
  background-color: var(--hover-color);
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.paginationButton {
  background-color: var(--primary-color);
  color: var(--light-font-color);
  border-radius: var(--border-radius);
  transition: background-color 0.2s ease;
}

.paginationButton:hover {
  background-color: var(--secondary-color);
}
