.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 25px;
  background-color: var(--muted-background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid var(--secondary-color);
  padding: 10px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.filterControl {
  flex: 1;
  max-width: 200px;
}

.taskList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(10 * 80px); /* Calculate height for 10 tasks, assuming each task is ~80px */
}

.taskItem {
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: 0 15px; /* Add horizontal margin */
  padding: 15px;
  transition: transform 0.2s ease, background-color 0.2s ease;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.taskItem:hover {
  transform: translateY(-2px);
  background-color: var(--hover-color);
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.paginationButton {
  background-color: var(--primary-color);
  color: var(--light-font-color);
  border-radius: var(--border-radius);
  padding: 8px 16px;
  transition: background-color 0.2s ease, transform 0.2s ease;
  box-shadow: var(--box-shadow);
}

.paginationButton:hover {
  background-color: var(--secondary-color);
  transform: translateY(-2px);
}

.paginationButton:disabled {
  background-color: #e0e0e0;
  color: #9e9e9e;
  cursor: not-allowed;
  box-shadow: none;
}

.noTasksMessage {
  text-align: center;
  font-size: 1.2rem;
  color: var(--dark-font-color);
  margin: 20px 0;
}
